:host {
  width: 80%;
  margin-top: .5rem;
}

.todo {
  display: flex;
  min-width: 230px;
  max-width: 500px;
  min-height: 40px;
  max-height: 180px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.content {
  margin: 10px;
  width: 100%;
  display: block;
}

.checkbox {
  justify-self: start;
  border: none;
  margin-left: 1rem;
}

.delete {
  justify-self: end;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
}
