@media (max-width: 599px) {
  .navbar {
    height: calc(100% - 56px);
  }
}

.navbar {
  height: calc(100% - 64px);
}

mat-sidenav-content {
  height: 100%;
}

mat-icon-button {
  padding-left: 0.01em;
}

mat-sidenav {
  width: 200px;
}

.logo {
  margin-left: 1em;
}

.spacer {
  width: 100%;
}

.sidenav-item {
  text-align: left;
  padding-left: 1em;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.user-profile {
  display: flex;
  place-content: center;
  align-items: center;
  cursor: pointer;
  height: 3rem;
  width: 5rem;
}

.user-profile > img {
  border-radius: 50%;
  height: 2.3rem;
  width: auto;
}

.user-profile > img:hover {
  border: 4px solid rgba(255, 255, 255, 0.3);
}
