<div class="navbar" *ngIf="user$ | async as user">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      fxShow="true"
      fxHide.gt-sm="true"
      *ngIf="user.uid !== ''"
    >
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="logo">
      <a [routerLink]="['/']">TodoApp</a>
    </span>
    <span class="spacer"></span>
    <ng-container *ngIf="user.uid !== ''; else navloginTemplate">
      <nav fxShow="true" fxHide.lt-md="true">
        <a [routerLink]="['/list']" mat-button>Todos</a>
        <a href="#" (click)="logout()" mat-button>Logout</a>
      </nav>
      <div class="user-profile">
        <img [src]="user.photoURL" />
      </div>
    </ng-container>
    <ng-template #navloginTemplate>
      <nav>
        <a [routerLink]="['login']" mat-button>Login</a>
      </nav>
    </ng-template>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <nav fxLayout="column">
        <a [routerLink]="['/list']" mat-button>Todos</a>
        <a href="#" (click)="logout()" mat-button>Logout</a>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
